# Task 3: Use Generative AI to summarize reviews into an article which recommends the top products for each category

Join the 2 files:

In [20]:
import pandas as pd

df_clustering_file = pd.read_csv("../outputs/sofia_product_clusters.csv")
# print(df_clustering_file.head())
print(df_clustering_file.shape)
df_clustering_file.head()

(67897, 6)

,ProductID,Product Name,Category,Brand,Ratings,Cluster
0,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",Amazon,5.0,Fire HD Tablets
1,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",Amazon,5.0,Fire HD Tablets
2,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",Amazon,5.0,Fire HD Tablets
3,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",Amazon,4.0,Fire HD Tablets
4,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...","Electronics,iPad & Tablets,All Tablets,Fire Ta...",Amazon,5.0,Fire HD Tablets

In [28]:
df_classification_file = pd.read_csv("../outputs/data_with_sentiment_clean.csv")
# print(df_clustering_file.head())
print(df_classification_file.shape)
df_classification_file.head()

df_classification_cleaned = df_classification_file[["id", "sentiment", "reviews.text"]]
df_classification_cleaned.head()#

(67897, 14)

,id,sentiment,reviews.text
0,AVqkIhwDv8e3D1O-lebb,positive,This product so far has not disappointed. My c...
1,AVqkIhwDv8e3D1O-lebb,positive,great for beginner or experienced person. Boug...
2,AVqkIhwDv8e3D1O-lebb,positive,Inexpensive tablet for him to use and learn on...
3,AVqkIhwDv8e3D1O-lebb,positive,I've had my Fire HD 8 two weeks now and I love...
4,AVqkIhwDv8e3D1O-lebb,positive,I bought this for my grand daughter when she c...

In [29]:
df_classification_cleaned.shape

(67897, 3)

In [30]:
df_clustering_file['ProductID'].nunique()

92

In [31]:
df_classification_cleaned['id'].nunique()

92

In [ ]:
import pandas as pd

# Remove duplicate IDs from classification file
df_classification_unique = df_classification_cleaned.drop_duplicates(subset=["id"])

# Merge (like enriching clustering file with sentiment info)
df_merged = pd.merge(
    df_clustering_file,
    df_classification_unique,
    left_on="ProductID",
    right_on="id",
    how="left"  # keep all clustering rows
)

# Drop duplicate key column (optional)
df_merged = df_merged.drop(columns=["id"])

# Check shape
print(df_merged.shape)
print(df_merged.head())

(67897, 8)
              ProductID                                       Product Name  \
0  AVqkIhwDv8e3D1O-lebb  All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...
1  AVqkIhwDv8e3D1O-lebb  All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...
2  AVqkIhwDv8e3D1O-lebb  All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...
3  AVqkIhwDv8e3D1O-lebb  All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...
4  AVqkIhwDv8e3D1O-lebb  All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...

                                            Category   Brand  Ratings  \
0  Electronics,iPad & Tablets,All Tablets,Fire Ta...  Amazon      5.0
1  Electronics,iPad & Tablets,All Tablets,Fire Ta...  Amazon      5.0
2  Electronics,iPad & Tablets,All Tablets,Fire Ta...  Amazon      5.0
3  Electronics,iPad & Tablets,All Tablets,Fire Ta...  Amazon      4.0
4  Electronics,iPad & Tablets,All Tablets,Fire Ta...  Amazon      5.0

           Cluster sentiment  \
0  Fire HD Tablets  positive
1  Fire HD Tablets  positive
2  Fire HD Tablets  positive
3  Fire HD Tablets  positive
4  Fire HD Tablets  positive

                                        reviews.text
0  This product so far has not disappointed. My c...
1  This product so far has not disappointed. My c...
2  This product so far has not disappointed. My c...
3  This product so far has not disappointed. My c...
4  This product so far has not disappointed. My c...

In [36]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67897 entries, 0 to 67896
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ProductID     67897 non-null  object
 1   Product Name  61137 non-null  object
 2   Category      67897 non-null  object
 3   Brand         67897 non-null  object
 4   Ratings       67864 non-null  float64
 5   Cluster       67897 non-null  object
 6   sentiment     67867 non-null  object
 7   reviews.text  67897 non-null  object
dtypes: float64(1), object(7)
memory usage: 4.1+ MB

In [35]:
# Export merged DataFrame to CSV
output_path = "../outputs/final.csv"
df_merged.to_csv(output_path, index=False, encoding='utf-8')

print(f"✅ CSV file successfully saved to: {output_path}")

✅ CSV file successfully saved to: ../outputs/final.csv